[2015-11-04 21:18] weaverba137 opened #2 "Use astropy.io.fits"
Just like desihub/specter#14, desidatamodel uses fitsio, but doesn't actually need to.

[2015-11-04 22:53] weaverba137 opened #3 "Remove imaging directory"
The top level index.rst file explicitly says that the imaging data model is not included in this package, so there is no point in keeping the doc/imaging directory.  Sphinx is complaining about not being able to find a link to this directory.

[2015-11-05 18:22] #2 closed

[2015-11-05 18:22] #3 closed

[2015-11-16 17:58] sbailey opened #6 "add desimodel files to datamodel"
The desimodel files are lightly documented in the [desimodel/doc](https://desi.lbl.gov/trac/browser/code/desimodel/trunk/doc) directory and in [DESI-0847](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=874), but we should add more detailed data model documentation to desidatamodel.  This would be a new top-level DESIMODEL directory, at the same level as DESI_SPECTRO_REDUX, etc.

[2016-04-11 21:44] sbailey opened #7 "tool to check if data model is current"
We originally dreamed of having the desidatamodel formats be both human and machine readable such that code could verify if the datamodel files were correct.  We found it hard to make something that was human-friendly while also being strict and complete enough for computer parsing.  And in the meantime our datamodel has gotten out of sync with our data files.  I suggest a pragmatic middle ground:

[2016-04-11 22:08] weaverba137 commented on #7
This doesn't seem too hard, but who gets the "blame" when discrepancies are detected?

- Obviously, if a file does not have a data model, the data model needs to be fixed.  But what if *no* files are present where the data model says they should be?  For example, let's say that we create a data model for guider files, but then don't bother to simulate them, so that no real guider files can be foun

[2016-04-11 22:09] weaverba137 commented on #6
In light of #7, we should really get these data models written.

[2016-04-11 22:34] sbailey commented on #7
File in datamodel but not in directory structure: for the purposes of this tool, ignore.  Or maybe print single "datamodel file blat/foo/bar/glum.fits missing from directories" message.  The main point of this tool is to check that the datamodel is current for the files that are being written.  I'm ok if the other way around isn't supported (at least not yet).

Discrepancies in HDUs or columns: th

[2016-05-02 20:04] weaverba137 opened #8 "Unit tests should ensure that all data model files can be parsed for validation."
Data model (.rst) files need to follow a certain format to ensure that they can be parsed by data model validation software.  One or more unit tests should be written to guarantee this.

[2016-05-04 18:37] weaverba137 commented on #7
@sbailey, you asked that dc3 be used as the initial validation sample for comparing data to the model. I can't find any files in desi/datachallenge/dc3.  Are they on scratch somewhere?

[2016-05-04 18:48] sbailey commented on #7
They are in /project/projectdirs/desi/spectro/redux/dc3c/ or temporarily on scratch in /scratch1/scratchdirs/sjbailey/desi/spectro/redux/dc3c/ .

For the record, [DESI-1950](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=1950) documents the file locations, code versions used, performance results, etc.

[2016-05-04 18:49] weaverba137 commented on #7
Ah, I see it now.  Also, is PRODNAME now officially called SPECPROD?  The data model still has the former.

[2016-05-04 18:53] tskisner commented on #7
That is desispec issue #127.  I was going to change it, but not until
the end of the current round of pipeline refactor (to minimize the
frequency when things break).

-T

On Wed, May 4, 2016 at 11:49 AM, Benjamin Alan Weaver
<notifications@github.com> wrote:

[2016-05-04 20:15] #7 closed

[2016-05-17 19:23] weaverba137 commented on #8
This is fixed in 1b8f4da4c8efb4baa1f4ae9052a3463963efcba5.

[2016-05-17 19:23] #8 closed

[2016-05-17 19:24] weaverba137 commented on #6
The structure exists for this now, but no actual content has been added yet.

[2016-06-06 16:22] forero opened #11 "How to describe MTL files"
@weaverba137 @sbailey I want to add a description of the MTL files generated by [this code in desitarget](https://github.com/desihub/desitarget/blob/master/py/desitarget/mtl.py#L7).

Is it enough to include a new ```mtl.rst``` file under ```doc/DESI_TARGET``` or is there anything else that should be done?

[2016-06-06 20:07] weaverba137 commented on #11
You would need to add a link to mtl.rst in doc/DESI_TARGET/index.rst.

[2016-06-09 20:22] #11 closed

[2016-07-11 22:30] weaverba137 opened #19 "PROTODESI_DATA files"
I noticed a few problems with the PROTODESI_DATA files that should be addressed before that branch is merged.

1. The naming conventions for the various files has a three-digit exposure ID and a 5-digit MJD.  Are we absolutely certain that protoDESI will never produce more than 999 exposures, or is the exposure ID reset every day (which seems dangerous)?  Also, the rest of the pipeline is using ei

[2016-07-15 19:37] weaverba137 commented on #19
@sbailey, please note this desidatamodel issue related to recent discussions on desi-data about MJD.

[2016-08-17 20:44] weaverba137 commented on #19
Is anyone working on the protoDESI data model, since we could be getting data literally any day now?

[2016-08-22 22:12] givoltage commented on #19
1&2. The naming conventions are as follows (as of now)

If data pipeline requires that date be in the filename or be all lowercase, I'll check with Parker and Klaus.

3. HDU0 contains raw float16 image. The bintable was probably just an example value that was put there.
4. Fixed.

[2016-08-22 22:22] weaverba137 commented on #19
OK, I think we can close this.

[2016-08-22 22:22] #19 closed

[2017-04-25 16:29] weaverba137 commented on #6
To support the 2017 Data Challenge, I'd like to get this done.

[2017-04-25 19:00] weaverba137 opened #26 "Update Travis configuration and other infrastructure."
- [x] Merge #23 and clean up old branches.
- [x] Update the Travis configuration to roughly match that of desiutil.
- [x] Make sure that documentation builds with `--warning-is-error`.
- [x] Update desiutil version (in requirements.txt).
- [x] Check dependencies needed to build on ReadTheDocs.

[2017-04-26 21:14] #26 closed

[2017-04-27 21:27] weaverba137 commented on #6
I'm starting to add files on the `desimodel-update` branch.  Feel free to take a look at those and edit as needed.

[2017-05-04 21:20] weaverba137 opened #30 "targets.dat should really be a YAML file."
The data file data/targets/targets.dat should really be a YAML file.  As far as I can tell it is already perfectly valid YAML.

This is especially important because the format of targets.dat is significantly different from all other *.dat files in that directory.

[2017-05-04 21:26] sbailey commented on #30
I agree with changing targets.dat -> targets.yaml and ensuring that it remains a valid yaml file in the future.  Reassigning to @moustakas since he is the most active user of this file.  Any objections, John?

[2017-05-04 23:01] weaverba137 commented on #30
PS, while looking at this file, I noticed comments such as: `BGS numbers from DESI-1377v1 (which are probably out of date)`, and `PLACEHOLDER MWS numbers; not documented or defined anywhere yet`.  So maybe @moustakas ought to check the numbers in there as well.

[2017-05-05 00:03] weaverba137 commented on #6
At this point, I've added files that describe all areas of the desimodel data directory, *except* the spectra directory.  While examining that directory, a few other questions came up that need to be answered before I can proceed (see desihub/desimodel#47, desihub/desimodel#48, desihub/desimodel#49) .  In the meantime, you can look at and further edit the files on the `desimodel-update` branch.

[2017-05-12 09:45] moustakas commented on #30
The last time I tackled cleaning up this file I broke `desisim.targets` and ended up reverting all my changes because I didn't want to deal with the necessary code changes.  Is `desisim.targets` part of your big refactor, @sbailey?  If not then I'll put this on my list.

But note that there was some discussion with the MWS WG about the MWS target densities and the response was basically that there

[2017-06-01 00:31] weaverba137 commented on #30
To move ahead on this, can we go ahead and rename the file without addressing the issue of outdated values?

[2017-06-01 01:27] moustakas commented on #30
Thanks for the reminder. I renamed and committed the file and also made a couple small changes, which will definitely break `desisim.targets`.  But we can clean those issues up later.

[2017-06-01 01:27] #30 closed

[2017-06-17 06:30] #6 closed

[2017-06-18 13:13] moustakas opened #34 "tilemeasure.rst file needs to be fixed"
The file `doc/DESI_TARGET/fiberassign/tilemeasure.rst` was added on June 13 to `master` by @forero (I think...) but it causes Travis tests to fail with a couple warnings / errors (see below).   Please fix or move to a branch while in development!

[code]

[2017-06-18 13:16] moustakas commented on #34
Oh, it looks like this is the same problem noted by @weaverba137 [here](https://github.com/desihub/desidatamodel/pull/32#issuecomment-301638329).

[2017-06-18 16:20] weaverba137 commented on #34
I'm working on a fix that should get merged today.  Please don't duplicate that effort.

[2017-06-18 19:17] #34 closed

[2017-06-28 04:19] weaverba137 opened #36 "Ensure EXTNAME is always set"
It is always a good thing to set `EXTNAME` in FITS file HDUs, so that they can referred to by name.  However, we haven't been very careful about *enforcing* this.  Therefore I propose:

1. All data models should have an `EXTNAME` recorded for every HDU.  Stern warning if not.
2. When generating data models from FITS files, complain if `EXTNAME` is not set.
3. When validating FITS files against the

[2017-09-27 23:22] #36 closed

[2018-01-13 00:32] sbailey opened #40 "Review datamodel for 17.12 consistency"
Update datamodel as needed to match the results of software release 17.12 in /project/projectdirs/desi/datachallenge/reference_runs/17.12 .

In some cases where they differ, the datamodel may reflect what we really want.  Make sure that the datamodel is clear that this isn't yet implemented, and make sure that there is a ticket for getting the code to implement the desired datamodel.

[2018-01-13 00:34] sbailey opened #41 "review cross file datamodel consistency"
Review the end-to-end dataflow for data model consistency.  The same concept should have the same name if it appears in multiple files, e.g. EXTNAME=WAVE vs. WAVELENGTH, or SN vs SNR vs S_N.  Identify mismatches and propose necessary changes.

[2018-03-16 18:22] weaverba137 opened #43 "Can we remove "brick" models?"
There are still references to brick-based reduction files, especially in the `DESI_SPECTRO_REDUX` section.  Can these be removed?  In general, what brick-based models need to be retained, and what can be removed?

[2018-03-19 18:15] sbailey commented on #43
Yes, brick-based reduction files can be removed from the desidatamodel.  Please close this ticket when that is done.

[2018-03-19 18:26] weaverba137 commented on #43
The brick-based files have been removed from `DESI_SPECTRO_REDUX`. I couldn't find other obvious brick-based files in other sections.  This will be implemented when #42 is merged.

[2018-03-19 18:26] #43 closed

[2018-03-20 16:30] weaverba137 opened #44 "How do data models in DESI_TARGET map to files in reference runs?"
The data model files in the `DESI_SPECTRO_(DATA|REDUX|SIM)` sections map cleanly onto directories in the recent reference runs.  However, data model files in the `DESI_TARGET` section do not.  This includes fiber assignment files.

[2018-03-20 18:42] sbailey commented on #44
Starting from a reference run base directory:

Reference Run | Data Model
---------------|-------------
targets/targets.fits | $DESI_TARGET/targets-{source}-{version}.fits
targets/mtl.fits | $DESI_TARGET/mtl-{source}-{version}.fits
targets/truth.fits | $DESI_TARGET/truth-{source}-{version}.fits
targets/sky.fits | $DESI_TARGET/sky-{version}.fits
targets/standards-dark.fits | $DESI_TARGET/stdstar-{v

[2018-03-20 19:16] weaverba137 commented on #44
OK, this sounds reasonable.

[2018-03-20 21:14] weaverba137 commented on #44
I have updated the data model files to reflect the reference run versions of the targets and fiberassign files.  The changes are part of #42.

[2018-03-20 21:14] #44 closed

[2018-03-20 21:20] weaverba137 commented on #40
Closing.  Make further comments on #42.

[2018-03-20 21:20] #40 closed

[2018-03-30 22:03] sbailey opened #45 "update data model for 18.3"
Update data model based upon 18.3 reference run at NERSC in:

/global/projecta/projectdirs/desi/datachallenge/reference_runs/18.3

A number of files have the same format but a new location as itemized in
  * desihub/desispec#545
  * desihub/desispec#559

[2018-04-05 18:26] #45 closed

[2018-06-20 12:35] felipeaoli opened #49 "list of scalars being tested"
In desidatamodel/doc/QUICKLOOK/*.rst, we need the information of which scalar is being tested in *_NORMAL_RANGE and *_WARN_RANGE when the *_STATUS is created. This info was available in older versions of datamodel.

[2018-06-20 14:04] rkehoe commented on #49
The scalar metrics are included in each .rst file, either for individual QAs or for the mergedQA file.  The naming convention is for the scalar metric naming, minus the granularity part (eg. _AMP or _TGT) is then appended with the _STATUS key for the final assessment based on the _RANGE specifications.  So NOISE_AMP yields NOISE_STATUS.  It may be worth saying this in the .rst files explicitly as

[2018-07-18 00:24] weaverba137 opened #51 "Update fiberassign tile file data model"
The data model for the fiberassign tile files has changed and needs to be updated for release 18.6.  See also desihub/desitest#12.

[2018-07-18 20:53] sbailey commented on #51
I'll take care of this, along with updating for the new NIGHT/EXPID/ raw data subdirectories.

[2018-07-18 22:13] forero commented on #51
Thanks!

[2018-07-19 00:30] sbailey commented on #51
fixed by PR #52

[2018-07-19 00:30] #51 closed

[2018-07-24 21:56] weaverba137 opened #53 "'electron' is not a valid unit in the FITS standard"
I'm trying to make sure that all units defined in FITS files (`BUNIT` and `TUNIT` keywords) conform to the FITS standard.  Unfortunately 'electron' is not valid.

See `doc/DESI_SPECTRO_REDUX/SPECPROD/exposures/NIGHT/EXPID/calib-CAMERA-EXPID.rst` for an example.  Would `adu` be an acceptable substitute?

[2018-07-24 22:09] sbailey commented on #53
ADU are the raw detector counts, while electrons are the gain-corrected ADUs (as extracted into spectra in this case).  `count` would be better (and is an allowed unit).

[2018-07-24 22:12] weaverba137 commented on #53
Yes, `count` works fine.

Another: `Angstrom/row` in `doc/DESIMODEL/data/specpsf/psf-quicksim.rst`.  `Angstrom/pixel` would work.

[2018-07-24 22:36] sbailey commented on #53
I have a minor preference for Angstrom/bin.  bin=1D, pixel=2D, voxel=3D, though I recognize that many people also use pixel for 1D.  The [FITS standard](https://fits.gsfc.nasa.gov/standard40/fits_standard40aa.pdf) table 4 describes "bin" as "numerous applications (including the 1-d analogue of pixel)".

[2018-07-24 23:13] weaverba137 commented on #53
`bin` sounds fine to me.

[2018-07-25 16:07] #53 closed

[2018-07-31 11:46] moustakas opened #56 "don't rely on docDB to document fiberassign data model"
In order to properly interpret the fiberassign HDUs --
  https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/fiberassign/tile.html
one has to read [DESI-0530](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=530) and [DESI-1049](https://desi.lbl.gov/DocDB/cgi-bin/private/RetrieveFile?docid=1049;filename=fiber_format.pdf;version=3) on DocDB.

It would be nice to have the "essent

[2018-08-06 17:13] sbailey commented on #56
+1 for the datamodel to be sufficient for interpreting the basic data format.  Also see new ticket desihub/fiberassign#138 for discussion about exactly which columns should be included in this HDU to make it more user friendly.

[2018-08-09 16:44] geordie666 opened #58 "`DESI_TARGET` has evolved away from using a separate file for standard stars"
Next time we review the `DESI_TARGET` data model, remove deprecated files such as `stdstar.rst`

[2018-08-23 00:16] #58 closed

[2018-09-19 19:22] weaverba137 opened #62 "Is mockobserving going to be merged?"
Is the mockobserving branch still required?

[2018-09-24 19:00] sbailey commented on #62
We still need this as a reference for what we are trying to achieve with the data model updates, though the work on the ground has already gotten ahead of this.  As part of the 18.9 release, we should make another datamodel update that might borrow pieces of this branch as a starting point, and then we can close this.

[2018-11-13 00:12] sbailey commented on #41
Done in pull requests desihub/desispec#717 and desihub/desisim#446 and multiple PRs to fiberassign and desitarget.  Included in software release 18.11.

[2018-11-13 00:12] #41 closed

[2018-11-13 00:14] sbailey opened #64 "update datamodel for software release 18.11"
Update the data model for software release 18.11 based on files in /project/projectdirs//desi/datachallenge/reference_runs/18.11/

Lots of formats changed, in particular
* target catalogs
* fiber assign output
* FIBERMAP HDU of fibermap, frame, cframe, and spectra files

[2018-11-13 00:30] sbailey commented on #64
The mockobserving branch may have useful text to re-use since it was the prototype format for the updates to target selection, fiberassign, and fibermap, but don't just directly merge from that branch.  After the datamodel has been updated for 18.11, that branch can be closed.

[2018-11-13 18:49] weaverba137 commented on #64
The latest targets.fits files have an array-valued column called DCHISQ with size 5.  Does the number 5 have any significance like in SDSS (*ugriz*)?

[2018-11-13 19:16] geordie666 commented on #64
The 5 columns correspond to successive morphological fits by Tractor. DCHISQ is described on the Legacy Surveys website as follows:

"Difference in χ² between successively more-complex model fits: PSF, REX, DEV, EXP, COMP. The difference is versus no source."

[2018-11-13 19:36] weaverba137 commented on #64
@geordie666, good, that means I can give the expanded database columns meaningful names.

[2018-11-20 17:35] dkirkby opened #65 "Add desisurvey files to datamodel"
The files owned by desisurvey that probably need documented data models are:

Ephemerides written by desisurvey.ephem.Ephemerides
Design HAs written by desisurvey.scripts.surveyinit.calculate_initial_plan
Afternoon planning state written by desisurvey.plan.Planner.save
Tile scheduler state written by desisurvey.scheduler.Scheduler.save

(copied from desihub/desisurvey#91)

[2018-11-20 17:38] dkirkby opened #66 "Add surveysim files to datamodel"
The files owned by surveysim that probably need documented data models are:

Survey per-tile and per-night statistics written by surveysim.stats.SurveyStatistics.save
Simulated exposure metadata written bysurveysim.exposures.ExposureList.save

(copied from desihub/surveysim#60)

[2018-11-26 19:42] sbailey commented on #66
I have added data model stubs for these files in the doc/DESISURVEY_OUTPUT/ directory of the desisurvey branch of this repo.  @dkirkby please fill in the descriptions.

[2018-11-26 19:43] sbailey commented on #65
I have added data model stubs for these files in the doc/DESISURVEY_OUTPUT/ directory of the desisurvey branch of this repo.  @dkirkby please fill in the descriptions.

[2018-12-12 01:13] sbailey opened #69 "HDU 0 EXTNAME policy"
DESI FITS files EXTNAME requirements:
* FITS extensions *shall* have an EXTNAME set
* Pipeline code *shall* access FITS extensions by name not by number
* User code *should* access FITS extensions by name not by number

i.e. we reserve the right to re-order or insert HDUs; accessing them by name won't break but accessing them by number might.

For discussion: a potential special case is blank HDU

[2018-12-12 01:14] #64 closed

[2018-12-12 01:19] sbailey commented on #62
I'll remove that branch now that that 18.11 datamodel has been updated.

[2018-12-12 01:19] #62 closed

[2018-12-12 18:02] weaverba137 commented on #69
I endorse this policy.  I don't think it would be too hard to update the `check_model` code to enforce this.

[2018-12-14 19:03] dkirkby commented on #69
What is the best practice for a FITS file containing a single binary table?

[2018-12-14 19:10] sbailey commented on #69
@dkirkby for the case of a single binary table:
* HDU 1 *shall* contain a meaningful EXTNAME.
* If HDU 0 has blank data and no non-standard keywords (i.e. it can be completely ignored), then HDU 0 *should not* have an EXTNAME.
* If HDU 0 has useful keywords that the user would be expected to read and use, then it *should* have EXTNAME = PRIMARY (and for convenience, consider putting those keywords

[2018-12-14 19:54] dkirkby commented on #69
Ok, thanks for the clarification. Since the astropy `Table.write()` is not flexible enough to support this I am using:
[code]

[2018-12-14 20:21] sbailey commented on #69
If you were using `Table.write()` I think that would be my second bullet: HDU 0 is blank with no non-standard keywords and could be ignored and should not have an EXTNAME, while still wanting an EXTNAME for HDU 1.  You can get an EXTNAME into HDU 1 with:
[code]

[2018-12-15 05:35] sbailey commented on #65
Added in PR #70

[2018-12-15 05:35] #65 closed

[2018-12-15 05:36] sbailey commented on #56
fiberassign now writes out a more user friendly potential assignments table that doesn't rely upon reading DocDB to know how to unpack it.  Closing.

[2018-12-15 05:36] #56 closed

[2018-12-15 05:42] sbailey commented on #66
Stubs for these were added in PR #70, but the table columns don't have comments defining them yet.  Leaving this ticket open for now.

[2018-12-16 19:42] sbailey commented on #66
Details added in PR #71.  Thanks @dkirkby.  Closing.

[2018-12-16 19:42] #66 closed

[2019-02-19 21:42] weaverba137 opened #72 "Allow data model to express sets of very similar HDUs"
The DESI raw data files will have a set of 30 HDUs that are more-or-less identical except for the EXTNAME, `B0, B1, B2, ..., R1, R2, ..., Z8, Z9`.  Allow all of the data model metadata to be expressed by a single HDU description, rather than repeat the same HDU description 30 times.

Note that this has nothing to do with the `INHERIT` keyword in raw data HDUs.  Treat that keyword as an ordinary, b

[2019-04-03 23:12] weaverba137 opened #74 "Compare by key, not by list."
* Compare HDUs by EXTNAME, not by order in the FITS or model file.
* Compare HDU keywords by keyword, not by order.
* Compare Column names by Column name?  Can we at least specify the order of columns in a table?
* This may also make it easier to support required and optional keywords.

[2019-04-04 19:15] sbailey commented on #74
Let's also compare columns by name not by order.

[2019-04-04 23:21] weaverba137 opened #76 "Stale branch: average_flux_calib"
Is anything happening with the `average_flux_calib` branch?

[2019-04-04 23:24] #69 closed

[2019-04-04 23:24] #72 closed

[2019-04-04 23:25] weaverba137 commented on #49
@rkehoe, is this still an open issue?

[2019-10-01 23:29] weaverba137 commented on #76
Pinging @sbailey

[2019-10-02 19:31] weaverba137 opened #77 "Quicklook to Nightwatch"
How similar are Nightwatch outputs to Quicklook?  That is, could we get away with renaming the current Quicklook directory and tweaking some of the files?  Also, does this transition make #49 moot?

[2019-10-03 00:17] #49 closed

[2019-10-03 00:17] sbailey commented on #77
The nightwatch outputs are quite different from quicklook (though when we do get the point of documenting nightwatch, the `doc/DESI_SPECTRO_REDUX/SPECPROD/exposures/` directory will be a good starting point.  And yes, #49 is now moot; I just closed it.

[2019-10-03 21:40] weaverba137 commented on #77
OK.  Should we remove the existing quicklook directory then?

[2019-10-21 21:53] weaverba137 commented on #77
@sbailey , is it OK to remove quicklook entirely as part of the 19.9 updates?

[2019-10-21 21:53] weaverba137 commented on #76
Pinging @sbailey

[2019-10-21 21:55] sbailey commented on #77
Yes

[2019-10-21 21:57] weaverba137 commented on #77
Thank you.  Removed in 32b1e4a.

[2019-10-21 21:57] #77 closed

[2019-10-21 21:58] sbailey commented on #76
Opened PR #79 (not sure why we hadn't done that).  I'll close this ticket and let's continue any discussion if needed in that PR.

[2019-10-21 21:58] #76 closed

[2019-12-04 22:15] sbailey opened #80 "data model issues to check"
This is a meta ticket to capture a list of questions leftover from PR #78.

## DESISURVEY_OUTPUT

* No model file for `exposures.fits`, `test-tiles.fits`.

## DESI_SPECTRO_DATA

* The datachallenge files are not a useful comparison to the model.
* See also comments on fibermap files below.

## DESI_SPECTRO_REDUX

* Many files types are not generated by the datachallenge.
* I'm very worried that pa

[2020-04-29 21:18] segasai opened #82 "Milky Way Survey outputs datamodel"
Hi,

We have currently the working version of the datamodel for some parts of the MWS output https://github.com/segasai/desidatamodel/tree/mwbranch
Currently I put our output files in DESI_SPECTRO_REDUX/SPECPROD/spectra-NSIDE/PIXGROUP/PIXNUM/
But presumably we want to place them in some other folder like
DESI_MWS_REDUX .
What would be the steps necessary to start merging our branch with the main d

[2020-04-29 21:37] weaverba137 commented on #82
It depends on how these files are generated.  Are these directly produced by the main spectroscopic pipeline, by an "afterburner" stage, or are they generated with an entirely separate process?

[2020-04-29 21:51] segasai commented on #82
1) They are produced on NERSC.
2) They are produced not by the main pipeline but by https://github.com/segasai/rvspecfit and https://github.com/callendeprieto/piferre which are two main codes of the MWS pipeline
3) I don't know if the codes can be called afterburner, or not, but currently me/Carlos run the jobs manually given the list of spectra files, but we have already a code developed (by Mei-

[2020-04-30 15:53] weaverba137 commented on #82
@sbailey, do you have any preference on this?  My suggestion would be `DESI_SCIENCE_MWS`.  I'd also recommend changing `data/minisv2` to `redux/minisv2`, since 'data' is usually reserved for 'raw data'.  Then your path would be something like `DESI_SCIENCE_MWS/SPECPROD/rv_output`.

[2020-04-30 18:39] segasai commented on #82
Sure, regarding data vs redux folder naming.
Also we will have  the sp_output/ which is the output of the stellar parameters pipeline from @callendeprieto . Presumably we'll just place its outputs in DESI_SCIENCE_MWS/SPECPROD/sp_output then (we don't have yet the properly formatted datamodel files for that, but it is currently very similar to rv_output files )

[2020-04-30 21:23] sbailey commented on #82
I'm ok with either `DESI_SCIENCE_MWS` or `DESI_MWS_REDUX`, though I do sort of like the "REDUX" version for symmetry with `DESI_SPECTRO_REDUX`, perhaps implying some aspiration toward pipelining formality, tags, releases, etc. and not just a dumping ground for stuff from the working group.

Either way, let's pick something that we'd be happy with using for other working groups that want to have th

[2020-04-30 21:40] segasai commented on #82
Thanks for the suggestions, Steven. We already have sort of way of indicating of different pipeline versions/runs, although currently those are 'blended' with the specification of dataset we are processing. Like here
data/minisv2_tiles/rv_output/63075//20200219/rvtab-0-63075-20200219.fits
data/minisv2_tiles_200327/rv_output/63075//20200219/rvtab-0-63075-20200219.fits
(for the two processed version

[2020-05-13 14:45] weaverba137 commented on #82
@sbailey , is any action by the Data Management team needed on this?  For example, do we need to define additional environment variables in desitree, or is that left to the MWS team to do that in their own code or module files.

[2020-07-24 21:14] geordie666 commented on #80
Related to this issue:

The `DESI_TARGET` files for actual data do not reflect the layout in the mocks/minitest reference runs. For instance, the `DESI_TARGET` files have a `resolve`, and can be for SV (*e.g.*`sv1`) or the Main Survey (`main`). We need to either align the mocks and real targets or have separate data models.

Either way, the `DESI_TARGET` data model should be updated so that the di

[2020-07-24 22:07] moustakas commented on #80
I would like to keep *trying* to keep the mocks aligned with the data. My tentative plan was to do a big reassessment/realign of the output of `select_mock_targets` after DR9 is in-hand; it definitely has a lot of catching up to do!

[2021-05-03 00:17] weaverba137 commented on #80
@sbailey, per our conversation about data model issues last week, is there anything in this ticket we can make progress on, or maybe is now irrelevant?

[2021-05-03 00:20] weaverba137 opened #86 "Optional table columns"
In some situations, data tables may have missing/optional columns.  We can add human-readable documentation describing situations and files where columns may be absent. However, there also needs to be a machine-readable mechanism for marking optional columns.  One suggestion: create an RST comment that is not rendered into the final document, but would nevertheless be machine readable.  For exampl

[2021-05-03 16:00] sbailey commented on #80
@weaverba137 from quick scan, many/most of these are still relevant, but we should focus our efforts on updating the data model that describes the actual observed data rather than the sims, e.g. starting with denali.  A few items:
  * the spectra / coadds / zbest / redrock files have a completely different directory structure under `tiles/` instead of `spectra-64`.
  * fiberassign output is now `f

[2021-05-04 17:11] weaverba137 commented on #80
Thanx @sbailey.  I'm going to repurpose this issue to focus on denali then.  Could you remind me though, is the move to a `tiles/` directory permanent?  That is, we will never again use `spectra-64/`?  Or should we continue to document both?

I feel like high-level summaries of the mask bits belongs in the package that contains the bits, because otherwise you have to modify at least two packages e

[2021-05-04 17:38] weaverba137 commented on #82
@segasai, @sbailey, this issue appears to have been dormant for a year.  Is this needed for SVDA?  If so, @segasai, when can we expect a pull request?

[2021-05-04 18:43] sbailey commented on #80
`tiles/` is permanent, and `spectra-64/` will be replaced with a reorganized structure under a `healpix` name, but that reorganized version doesn't exist yet.  In the main survey (and svda) we will have both.

[2021-09-02 18:20] weaverba137 opened #87 "fitsverify errors and warnings on pipeline output"
Targeting everest first, make sure that all file types give no warnings from `fitsverify`.

[2021-09-16 21:03] weaverba137 commented on #87
@sbailey, while working on this, I notice there are lots of `~` files floating around, for example `*.csv~` files in `processing_tables/` or `*.slurm~` files in `run/`.  Can we narrow down which top-level directories and which file types with never be archival?

[2021-09-16 21:23] sbailey commented on #87
Everything under desi/spectro/redux/everest is supposed to be archival.  That being said, you've obviously found some editing leftovers from editing files by hand for error recovery, and we should cleanup files like that from Fuji before its final release.

For the purposes of this ticket, run fitsverify on every kind of fits file you can find and ignore these non-fits files.  Please help us remem

[2021-09-16 21:58] weaverba137 commented on #87
Thank you that is helpful.  I am building up the list of all possible FITS files and did notice the tmp/ directories.

What about cases where there is code embedded in the run directory?  Is that a feature or should that code be checked into a repository?

[2021-09-16 22:59] weaverba137 commented on #87
And there's `(exposures|preproc}/[0-9]+/old`.  What's that?

[2021-09-16 23:32] sbailey commented on #87
Thanks for your checks.  We do put code under the run/scripts/ directory when we need to do a one-off task for a specific production and that task isn't already captured in the tagged code used for the production.  Those scripts often act prototype code that is then generalized and committed to desispec for future productions.  In some sense, they are like the batch bash scripts as a record of wha

[2021-09-16 23:46] weaverba137 commented on #87
Switching to my other hat: I haven't added it up yet, but do you have the sense of how much the tmp and old directories are contributing to the total volume of everest?  In other words are we archiving stuff at NOIRLab that we really, really don't need?

[2021-09-17 00:11] weaverba137 commented on #87
* calibnight (tmp): 289 GB
* exposures (old) 120 GB
* preproc (old) 102 GB

So about half a TB.

[2021-09-17 00:22] weaverba137 commented on #87
@sbailey, in ec3b1c7, you should find a notebook `FitsverifyAll.ipynb` that will run `fitsverify` on a randomly-selected example of every type of file in everest.

Every type of FITS file in everest is matched, except files matched in the `[exclude]` section of the regular expressions.  However it is possible that I've made the list of file types overly specific and that some of them could be comb

[2021-09-21 00:09] sbailey commented on #87
Thanks.  Your set of regex appear to be complete, at least to the degree that I can verify without just completely re-implementing what you've already done as a cross check.  i.e. this set looks good.

Adding the cases it highlights in the notebook to this ticket:
[code]

For the errors about unallowed keywords, I suspect it is just that we are inheriting keywords from the raw data images and/or m

[2021-09-21 21:32] weaverba137 commented on #87
I've modified the notebook to print out the full `fitsverify` report when any warnings or errors are detected.  Here's a summary by top-level directory and file type.  Note that I'm using 1-based numbering of HDUs to match `fitsverify`.  That is, HDU 1 is the primary HDU.

One interesting thing to note is that even though it is clear that `FIBERMAP` HDUs have a lot of problems, they don't all have

[2021-09-21 21:32] weaverba137 commented on #87
Oops, didn't mean to close, just comment.

[2021-09-22 17:47] weaverba137 commented on #87
Are we also considering raw data files?  Although recent `desi-*.fits.fz` don't show any errors, there are *many* warnings.  The most serious is the warning about column names containing hyphens in the `SPECTCONS` HDU.  Also there are empty header keywords in the `SPEC` HDU.

[2021-09-22 19:08] sbailey commented on #87
The warnings about null values in FRAMES, OPENSHUT, DELTARA, DELTADEC, SEEING, TRANSPAR, NTSSURVY trace back to the raw data files which already exist on disk.  We either need to live with that, or we could intercept and "correct" them during preprocessing.  @weaverba137 do you know what the correct way to record a null value in FITS is?

Deprecated EPOCH vs. EQUINOX also traces from the raw data

[2021-09-22 20:48] weaverba137 commented on #87
I don't believe FITS supports the concept of null header values.  The best way to proceed would be to determine the types that these header keywords would have if they were not null, and then insert a value of the appropriate type that downstream software can recognize as null.  For example, if `FRAMES` has a string value, use an empty string.  If these are floating point values, `NaN` or `-9999.0

[2021-09-23 18:40] weaverba137 commented on #82
@segasai this issue has been dormant for almost 18 months now.  When can we expect a pull request?

[2021-09-23 21:18] weaverba137 commented on #74
Reviving this old ticket as part of everest analysis.

* *Done*: Compare HDUs by `EXTNAME`, not by order in the FITS or model file.
  - Although example data files are analyzed in the order of the real HDUs in the real data file, the corresponding data model can have any HDU ordering in principle and is keyed by `EXTNAME`.
* *Done*: Compare HDU keywords by keyword, not by order.
  - Keyword lists

[2021-09-23 21:51] weaverba137 commented on #74
Compare column names by Column name is now implemented, although some unit tests should be added.

[2021-09-29 20:11] weaverba137 opened #88 "Human-readable directories and filenames from everest"
We will likely need to expand the set of human-readable directory and file names.  For reference, these are things like `NIGHT` and `EXPID`, which stand in for harder-to-read regular expressions.  The existing set is [here](https://github.com/desihub/desidatamodel/blob/main/py/desidatamodel/check.py#L32).

It looks like we no longer use `NSIDE` as of everest, but I'm more interested in what to cal

[2021-09-29 20:33] weaverba137 commented on #88
My question above might not apply to the `[14]x_depth` directories because they really are so different.  There is an extra directory level that doesn't fit the other tile directories, & I can't recognize some of the numbers at all.  Here are the regular expressions I identified previously:
[code]
Is `/[0-9]/` `/SPECTROGRAPH/`?  I have no idea what `[1-6]` means here.

[2021-09-29 20:34] schlafly commented on #88
Two cents:

1. (sv1|sv2|sv3|main) = SURVEY?
Yes.
2. (backup|bright|dark|other) = CONDITIONS?
PROGRAM
3. (cumulative|perexp|pernight) = TILETYPE?
I'd suggest COADD or COADDTYPE or INTERVAL.

[2021-09-29 20:43] moustakas commented on #88
Yes.

PROGRAM
(cumulative|perexp|pernight) = TILETYPE?

For what it's worth, in `fastspecfit` I use `survey`, `program`, and `coadd_type` for these three levels / identifiers.

[2021-09-30 18:21] weaverba137 opened #89 "Support "see other" functionality at HDU level"
Currently there is a way to say "this data model is the same as this other data model", but it would be nice to have this functionality at the HDU level, not just the file level.

[2021-09-30 21:59] sbailey commented on #88
Another data point: unfortunately "PROGRAM" is overloaded in that it is also a raw data header keyword coming from an ICS GUI field were humans can type arbitrary strings.  I think that is standardized in NTS operations, but the full set of raw data "PROGRAM" values is all over the map.

On the pipeline side, that level of the directory structure is propagated from FAPRGRM in the fiberassign files

[2021-10-08 17:54] weaverba137 opened #91 "Complete description of "depth" tiles"
As of PR #90, the description of `(1x|4x)_depth` tiles was incomplete.  These have a different directory structure from the rest of the tiles.

[2021-10-08 17:55] weaverba137 opened #92 "Update model for DESI_SPECTRO_DATA"
The `DESI_SPECTRO_DATA` section needs updating, in particular, the coordinates files urgently need description.

[2021-10-18 20:44] weaverba137 commented on #88
OK to go with `PROGRAM`, with some documentation on the exceptions to this (FAPRGRM, sv1, PROGRAM header keyword in raw data).

For `tiles/` structure `GROUPTYPE` / `TILEID` / `GROUPID`.

[2021-10-19 17:40] weaverba137 commented on #91
@sbailey, could you remind me what the "subset" means?  Subset of what?  I just need a sentence or two.

[2021-11-03 22:55] #88 closed

[2021-11-03 22:55] #91 closed

[2021-12-13 18:14] sbailey commented on #87
@weaverba137 a new test production is available in $CFS/desi/spectro/redux/f3 , albeit not including healpix based outputs.  Please re-review for urgent datamodel problems.  I'm expecting the header keyword null values to still be there, but most/all of the invalid keywords to be gone (e.g. BZERO in a bintable HDU).

This is an in-progress test production so new nights and files may appear, and so

[2021-12-14 17:53] weaverba137 commented on #87
## Preliminary results from `f3`:

### Files that have no data model:

* `calibnight/NIGHT/biasnight-CAMERA-NIGHT.fits.gz`
* *e.g.*: `exposures/20210509/00087769/fit-psf-r4-00087769_11.fits`.  Not sure what the `_[0-9][0-9].fits` means.
* *e.g.*: `exposures/20210509/00087799/frame-b4-00087799-no-badcolumn-mask.fits`
* Were the various `blacklisted` files renamed to `listed`?  Were any other change

[2021-12-14 18:32] weaverba137 commented on #87
* Analyze other `preproc` files in `f3` to see how common the checksum error is.
* Some errors may be coming through `preproc` files, *e.g.* errors in HDU 0. Investigate further.
* Files like `exposures/20210509/00087769/fit-psf-r4-00087769_11.fits` are temporary and can be ignored.
* `biasnight` files do need a data model file.
* At some point Julien needs to more thoroughly document the various

[2021-12-14 18:46] sbailey commented on #87
Example command to generate a preproc file for testing:
[code]

That is the other major route through which raw data headers propagate into the data stream, so if you can fix that it should significantly help with the downstream files.

[2021-12-14 19:05] weaverba137 commented on #87
So there are rather a lot of `preproc` files in `f3`, so I sampled about 1% of them, over 100 files. *All* of them had checksum mismatch errors.

[2021-12-14 21:25] weaverba137 commented on #87
@sbailey, is there a preferred branch of desispec, or version of desimodules I should be using?  Especially if it's the versions you used for `f3`?

[2021-12-15 18:09] sbailey commented on #87
f3 was run with the "test-21.12" environment, which might be a moving target, but currently has desispec/0.48.0.  That should be equivalent to master for the purposes of preproc.

It sounds like the checksum mismatches are an unexpected feature of it not stripping out checksums propagated from an upstream files (in most cases we can propagate an upstream header without thinking too much and it wil

[2021-12-16 16:05] weaverba137 commented on #87
Confirming that I can reproduce the preproc file errors using the `desi_preproc` command as suggested above.

[2021-12-16 17:48] weaverba137 commented on #87
This is not directly related to the preproc files, but here's a fun little discovery from `desispec.io.image.write_image()`:
[code]
So maybe these null header keywords are ultimately coming from `fitsio`?

[2021-12-16 18:27] weaverba137 commented on #87
I think I know what is going on with the invalid checksums: https://github.com/astropy/astropy/issues/4587.

This was fixed a few months ago, and is in astropy 5.0.  However it has not yet appeared in a release of the 4.0.x or 4.3.x series.

[2021-12-16 18:53] sbailey commented on #87
For Fuji we will move to astropy 5.0, but still need to verify that preproc checksums are fixed with that.

[2021-12-16 19:11] weaverba137 commented on #87
Sure, I'll see if I can run a test myself.

[2021-12-16 19:40] weaverba137 commented on #87
I did a quick test with astropy/5.0 and no other changes to desimodules/test-21.12.  The checksum errors are gone.

[2021-12-16 19:58] weaverba137 commented on #82
@callendeprieto, @segasai recently suggested that you should take over this issue. Quote:

While this issue is not urgent, I don't want it to fall off the radar either.

[2022-01-14 20:11] weaverba137 commented on #80
This PR reflects an "audit" from 2019 and should be superseded by tickets that reflect the current state of the real data.  For example, #94 and other, closed tickets that updated the redux data.

[2022-01-14 20:11] #80 closed

[2022-01-14 20:12] weaverba137 commented on #74
Closing this ticket in favor of #86.

[2022-01-14 20:12] #74 closed

[2022-01-18 17:31] weaverba137 commented on #87
I took a quick look at `preproc-` files in `f5`.  At this point the only errors or warnings are about NULL header keywords.  All other errors and warnings are gone.

[2022-01-18 22:41] weaverba137 opened #95 "String types not being written out with size."
Recent runs of `generate_model` are printing `char stream` instead of *e.g.* `char[8]` when describing string-valued columns in binary tables.  This may be an artifact of the Numpy version used.

[2022-01-18 22:49] weaverba137 commented on #95
It appears that the `SPECTCONS` table in raw data files is being written with variable-length string columns instead of fixed-length. So `char stream` may not be quite so far off after all. Further research is needed.

[2022-01-20 17:56] weaverba137 commented on #95
This is actually the correct [implementation](https://github.com/desihub/desidatamodel/blob/d7159e38d036463be77b5d98e28aa3caa01bb093/py/desidatamodel/stub.py#L563).  The only surprise here is that the `SPECTCONS` HDU needs to use these, because they are otherwise rare.

[2022-01-20 17:56] #95 closed

[2022-01-20 18:52] #92 closed

[2022-01-20 18:56] weaverba137 commented on #89
Sphinx makes it slightly tricky to cross-reference *sections* within another document.  There are two options:

1. Create an explicit label for an HDU in one document and use `:ref:` to refer to it.
2. Use "bare" RST notation: `.. _link: ../foo/bar/file.html#hdu5`.

Finally, note that we already have the functionality to say "this HDU is the same as another HDU" within the *same* document.  This i

[2022-01-21 23:34] sbailey commented on #87
from @weaverba137 on Slack:

Good enough for Fuji, closing ticket.  OK to post additional comments postfacto or open new tickets with specific problems.

[2022-01-21 23:34] #87 closed

[2022-01-24 22:09] geordie666 opened #97 "Update data model for MTL"
A specific reminder to update the data model for the survey operations MTL files.

[2022-01-24 22:16] weaverba137 opened #98 "Update data model for tiles product"
The data model path `DESI_TARGET/fiberassign` is outdated and should be updated:

* The ultimate source for fiberassign files is `DESI_SPECTRO_DATA/NIGHT/EXPID/fiberassign-EXPID.rst`. After those files appear in the raw data, they are checked into the `tiles` product, so the fiberassign data model in that area can refer to the raw data version.
* The equivalent path to the actual data tree is `DES

[2022-01-25 17:51] weaverba137 commented on #98
Some header keywords and columns did evolve in commissioning & sv1.  So we can't assume that the files have identical data models.  But it is OK to simply note this potential discrepancy.  Might be better to have the official definition here, and put a link in the raw data.

[2022-01-25 18:23] sbailey opened #99 "collapsable sections for header keyword tables"
It would be helpful if the datamodel could include optional collapsable sections.  e.g. we inherit hundreds of keywords from raw data + fiberassign and it would be nice to only show those upon request so that the webpage can focus on the *data* portions of the files without scrolling through pages and pages of keywords first.

[2022-01-25 18:25] sbailey opened #100 "different visual style for header keyword tables vs. data tables"
Currently both header keyword tables and data tables use the same CSS styling.  If sphinx can support it, it would be UX helpful to have them visually distinguishable, e.g. with different background colors so that you can quickly tell when scrolling if you are looking at a data table or a header keyword table.

[2022-04-12 20:19] weaverba137 commented on #100
In principle I know how to do this, but there are finicky details in the needed CSS, because background color styling is applied at the cell (`<td>`) level rather than the row (`<tr>`) level.

[2022-05-13 22:10] weaverba137 commented on #89
This will be implemented in #102.  The format is, *e.g.*:
[code]

[2022-05-13 22:11] weaverba137 commented on #98
@sbailey, who do you recommend for reassignment to get this ready for upcoming data releases?

[2022-05-16 16:38] sbailey commented on #89
That looks like a nice clean syntax.  What do you suggest for the FIBERMAP HDU, which gains columns as it is propagated through the various steps of the pipeline, and then at the coadd stage gets split into FIBERMAP and EXP_FIBERMAP?  If we were only writing text for humans to read and not auto-parsing for data model validation, I would document this as something like:

but that would be tricky to

[2022-05-16 16:40] sbailey commented on #98
@araichoor could you help finish the documentation for the fiberassign files in the data model?  Thanks.

[2022-05-16 18:00] weaverba137 commented on #89
Sure, this is late-breaking news, but I've also been developing a way to mark columns as optional (#86).

The code already prefers EXTNAME over extension number (#74), to support the idea that extensions could have varying order. I have *not* yet developed a way to mark entire HDUs as optional, but that case is relatively rare.  However, I am starting to see evidence that given the same type of fi

[2022-05-16 18:42] weaverba137 commented on #86
[code]

[2022-05-17 04:40] araichoor commented on #98
sure.

[2022-05-18 16:50] araichoor commented on #98
[Replying here to https://github.com/desihub/desidatamodel/pull/103#issuecomment-1130225272]
Please let me know what `fiberassign*rst` file I should update/create.

From your first message in this thread, I understand that `DESI_SPECTRO_DATA/NIGHT/EXPID/fiberassign-EXPID.rst` is the file to edit (and the svn-checkout will then refer to that).
But, as said, I d of course be happy to make any change

[2022-05-18 20:53] sbailey commented on #98
Please work on a new file `DESI_TARGET/fiberassign/tiles/TILES_VERSION/TILEXX/fiberassign-TILEID.rst` and delete the out of date `DESI_TARGET/fiberassign/tile-TILEID-FIELDNUM.rst`.  i.e. make the datamodel match the directory structure and naming of the actual files on disk.  Thanks.

[2022-05-31 17:44] weaverba137 opened #104 "Deduplicate fiberassign/fibermap tables"
Many data files contain fiberassign/fibermap table HDUs.  To the extent possible, and leveraging the optional table and HDU cross-reference capability implemented in #102, reduce the number of separate descriptions of these tables.

[2022-05-31 17:45] #100 closed

[2022-05-31 17:45] weaverba137 commented on #99
Closed by #102.

[2022-05-31 17:45] #99 closed

[2022-05-31 17:46] #89 closed

[2022-05-31 17:46] weaverba137 commented on #86
Closed by #102.

[2022-05-31 17:47] weaverba137 opened #105 "Complete documentation of fuji+guadalupe header keywords"
After merging #102, a few files still needed updates to descriptions of header keywords in `fuji` and `guadalupe`.

[2022-05-31 17:50] weaverba137 opened #106 "Handle data model for psfnight and related files"
The data model for psfnight and related files is moderately complex, involving variable-sized image HDUs, as well as data tables that contain two-dimensional, array-valued columns that are also variable-sized. See also desihub/desispec#1778.

[2022-06-07 18:45] weaverba137 opened #107 "Data model for redshift catalog roll-up files"
Please review the data model for the `zall-(pix|tilecumulative)` files.

[2022-06-07 18:52] weaverba137 opened #108 "Data model for calibration files in exposures and calibnight directories"
Please review the descriptions in the data model for these files:

* In `DESI_SPECTRO_REDUX/SPECPROD/exposures/NIGHT/EXPID`
  - cframe
  - exposure-qa
  - fiberflat
  - fiberflatexp
  - fit-psf
  - fit-psf-before-listed-fix
  - fit-psf-fixed-listed
  - fluxcalib
  - frame
  - psf
  - sframe
  - shifted-input-psf
  - sky
  - stdstars
* In `DESI_SPECTRO_REDUX/SPECPROD/preproc/NIGHT/EXPID`
  - prepro

[2022-06-07 18:56] weaverba137 opened #109 "Data model for top-level exposures and tiles files"
Please review the data model for the top-level `exposures-SPECPROD` and `tiles-SPECPROD` files.  The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work.

[2022-06-07 18:58] weaverba137 opened #110 "Data model for qso afterburner files"
Please review the data model for the `qso_mgii` and `qso_qn` files in *both* healpix and tiles directories. The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:01] weaverba137 opened #111 "Update data model for final spectrum files"
Please review the data model for these files in both healpix and tiles directories:

* coadd
* redrock
* spectra

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:09] weaverba137 opened #112 "Data model for guide-rois files"
Please review the data model for these files guide-rois files in `DESI_SPECTRO_DATA`

The structural description of this file should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

@ameisner, I know we previously discussed assigning

[2022-06-07 19:11] weaverba137 opened #113 "Data model for emline files"
Please review the data model for the emline files in both healpix and tiles directories:

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:16] weaverba137 opened #114 "Data model for tile-qa files"
Please review the data model for the tile-qa files in the tiles directories.

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:18] weaverba137 opened #115 "Data model for "individual" redshift catalog files"
Please review the data model for the zpix and ztile files in the zcatalog directory

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

It may also be useful to coordinate with Issue #107

[2022-06-07 19:20] weaverba137 opened #116 "Data model for zmtl files in tiles directories"
Please review the data model for the zmtl files in the tiles directories.

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.  In particular, work on similar files in the `DESI_TARGET` or

[2022-06-07 19:23] weaverba137 opened #117 "Data model for tilepix file"
Please review the data model for the high-level tilepix file in the SPECPROD/healpix directories.

[2022-06-07 19:29] weaverba137 opened #118 "Landing page for mask bits documentation"
We need a central "landing page" for documentation of all mask bits, analogous to [SDSS's bitmask page](https://www.sdss.org/dr17/algorithms/bitmasks/).

It is sufficient to *link* to mask bits documentation that is stored elsewhere.  For example, bits used by DECaLS can continue to be described on https://www.legacysurvey.org, but the new landing page should at least link to that documentation.

[2022-06-07 19:31] weaverba137 opened #119 "Data model for fvc and sky files in raw data"
Please review the data model for the fvc and sky files in `DESI_SPECTRO_DATA`.

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:32] weaverba137 opened #120 "Data model for coordinates and pm files in raw data"
Please review the data model for the coordinates and pm files in `DESI_SPECTRO_DATA`.

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:33] weaverba137 opened #121 "Data model for focus files in raw data"
Please review the data model for the focus files in `DESI_SPECTRO_DATA`.

The structural description of these files should be complete, but descriptions of the HDUs, header keywords and columns need work. If necessary it is possible for files to refer to other files, or for HDUs to refer to other HDUs, to reduce duplication of effort.

[2022-06-07 19:36] weaverba137 opened #122 "Data model for desi files in raw data"
Please review the data model for the desi files in `DESI_SPECTRO_DATA`.

Most of the header keywords already have descriptions, but there are a few blanks.  Descriptions of table columns in the `SPEC` and `SPECTCONS` HDUs are needed.  Short, high-level descriptions of all HDUs are needed.

It is *not* necessary to document every raw image HDU; the data model already accounts for the fact that all

[2022-06-08 09:21] ameisner commented on #112
Hi Ben,

I'm not sure about Santi, but I don't work for DESI anymore, although I do still use some of my personal research time to engage with the Legacy Surveys imaging team.

In the past, I got the sense that Connie and Klaus had good success at contacting Santi, so maybe you could try to get one of them involved. Other than Santi, Klaus might be the only person who really knows everything about

[2022-06-08 10:57] daqiii commented on #112
Santi is no longer working with DESI. He switched jobs some time ago.
Klaus

From: Aaron Meisner ***@***.***>
Date: Wednesday, June 8, 2022 at 5:22 AM
To: desihub/desidatamodel ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [desihub/desidatamodel] Data model for guide-rois files (Issue #112)
Hi Ben, I'm not sure about Santi, but I don't work for DESI anymore, although I do still use some of

[2022-06-08 15:41] weaverba137 commented on #112
Thank you @ameisner & @daqiii.  I will reassign to @dkirkby .

[2022-06-08 22:55] julienguy commented on #118
Can @weaverba137 provide us with a placeholder file for the bitmask and an example for how link to it in the .rst files ?

[2022-06-08 23:01] weaverba137 commented on #118
Is the documentation here insufficient: https://desidatamodel.readthedocs.io/en/latest/datamodel.html

I think everyone would be much better served if I improved the documentation on that page so that you could provide this yourself.

Or am I missing something about the question?

[2022-06-08 23:10] julienguy commented on #118
The documentation is good (I managed to cross-link the fibermap doc for instance). Could we have a placeholder page for bitmask in the repo so we can start writing correct links?

[2022-06-08 23:22] weaverba137 commented on #118
Glad the documentation is good.  You can start from this file: https://github.com/desihub/desidatamodel/blob/main/doc/bitmasks.rst.  Branch of off `main` to edit it.

[2022-06-08 23:23] julienguy commented on #108
Work in progress in branch calibration-files.

[2022-06-09 16:06] dkirkby opened #123 "Data model for ETC files in raw data"
The ETC json and jpg files are not yet mentioned in the top-level page and also need child pages.  I am assigning this to myself.

[2022-06-09 16:07] weaverba137 commented on #112
Indeed, those were previously updated by @ameisner, #96. So far, everyone who has been previously identified as having knowledge of these files has either left the DESI project or does not in fact have such knowledge. We really need some help here to find *someone* who can do this, so feel free to reassign.

[2022-06-09 16:10] weaverba137 commented on #123
@dkirkby, thank you for taking this on. The data model automation is primarily focused on FITS files.  For non-FITS files, you should still include the title and the top-level summary: the part including the regular expression to match the file.  Otherwise the description can be more free-form than for files documenting FITS files.

[2022-06-09 22:07] weaverba137 opened #124 "Rename SURVEYOPS to DESI_SURVEYOPS"
The data model directory `SURVEYOPS` actually points to the same place as `DESI_SURVEYOPS`.  In order to avoid confusion and in keeping with our convention of using environment variables as top-level directories, I propose we rename the data model directory to `DESI_SURVEYOPS`.

[2022-06-09 22:34] weaverba137 commented on #124
Based on discussions with @sbailey on Slack, here is the full proposal:

1. Rename `SURVEYOPS` -> `DESI_SURVEYOPS` in the data model. This environment variable is actually used, and neatly folds the version (`trunk`, `tags/1.0`, etc) into the name.
2. Create `DESI_SURVEY` analogous to `DESI_TARGET`.
3. Put requested intermediate fiberassign files (#103) under `DESI_SURVEY/fiberassign`.
4. Add `DES

[2022-06-13 18:22] #105 closed

[2022-06-13 18:46] weaverba137 commented on #108
Closed by #127.

[2022-06-13 18:46] #108 closed

[2022-06-13 20:46] #113 closed

[2022-06-13 21:25] weaverba137 opened #129 "maggies versus maggy in targeting files"
This issue first arose in #125. In some cases our commonly-used flux unit is variously spelled 'nanomaggie', 'nanomaggies' or 'nanomaggy'.

Going back to the original DR9 tractor files, 'nanomaggy' is used.  This seems to be retained in DESI targeting files derived from the tractor files.  However, this might not necessarily be the case further downstream.

As far as data model verification code g

[2022-06-14 00:55] weaverba137 commented on #97
This was closed by #101.

[2022-06-14 00:55] #97 closed

[2022-06-14 17:53] weaverba137 commented on #116
Closed by #130

[2022-06-14 17:53] #116 closed

[2022-06-15 15:33] araichoor commented on #114
Hi @weaverba137 ,

I m starting to give a look at this one.

One remark already: I notice that it is written in the top summary that such `tile-qa*fits` files "_are only associated with cumulative tile coadds._"
That is correct for our daily reductions; though, for data releases, it also exists for other GROUPIDs: spot-checking for a couple of tiles in fuji and guadalupe, this file also exists for

[2022-06-15 18:32] araichoor commented on #114
Thanks, I've done that.

A couple of further questions:

The PETALQA extension of the `tile-qa*fits` files is very similar to the PETALQA extension of the `exposure-qa*fits` files (it s basically the mean of those files); though I see that this has not been filled: https://github.com/desihub/desidatamodel/blob/main/doc/DESI_SPECTRO_REDUX/SPECPROD/exposures/NIGHT/EXPID/exposure-qa-EXPID.rst
=> shal

[2022-06-15 18:43] sbailey commented on #114
@araichoor if you can fill in the exposure-qa-EXPID.rst PETALQA table, that would be very helpful.  Julien is traveling today so won't be updating it.

Mask bits: please link to the top-level doc/bitmasks.rst file which is where we are supposed to fill in the details of QAFIBERSTATUS, etc., including links to the code/config files that define them.  that file is currently nearly blank, but that's

[2022-06-15 20:59] araichoor commented on #114
ok perfect, thanks!

[2022-06-15 23:57] akremin commented on #109
This is being tracked in PR #131

[2022-06-16 16:36] #109 closed

[2022-06-16 17:18] weaverba137 commented on #114
Closed by #132.

[2022-06-16 17:18] #114 closed

[2022-06-16 23:22] weaverba137 commented on #98
Closed by #103.

[2022-06-16 23:22] #98 closed

[2022-06-21 23:52] geordie666 commented on #129
Addressed in #133.

[2022-06-21 23:52] #129 closed

[2022-06-30 08:47] echaussidon commented on #110
Hi @weaverba137,

I commit the data model for the qso: https://github.com/desihub/desidatamodel/commit/c933d0b2e3a917d713bb0da8553836d2d4b2dbdb

I thought that I forked the package (I wanted to make a PR...). Sorry for that.

Edmond

[2022-07-19 16:15] weaverba137 commented on #110
I'm not concerned about committing directly to `main`, however, it does make it much more difficult to comment on your changes, so please be sure to always create a branch and a PR in the future.

There is a serious issue with your changes: you have removed the optional marking from some columns, *i.e.*, `[1]_` and the corresponding `.. [1] Optional`.

The optional notation is needed by the automa

[2022-07-19 20:53] weaverba137 commented on #110
Please continue discussion on PR #134.  The changes that were originally on `main` are now on branch `qso-afterburner`.

[2022-08-01 18:59] #110 closed

[2022-08-23 16:03] weaverba137 opened #136 "Do columns with the same name have the same meaning and units?"
@aureliocarnero is working on a system to unify column descriptions across many files.  As part of this we should make sure that columns with the same name in different files really do represent the same data in terms of meaning and units.

We have tried to be careful about this, and it is likely most columns do conform to this, but we should still do a comprehensive check.

[2022-08-23 16:05] weaverba137 opened #137 "Script to sync column descriptions"
As part of @aureliocarnero's work on creating a central column definition list, once that work is done, we should create a script that will sync *existing* files with that list, with options to simply point out differences or to actually make changes to the files.

[2022-11-15 20:23] weaverba137 commented on #137
@aureliocarnero, could you give an update on your work to create a central column definition list?

[2022-11-15 20:39] ashleyjross commented on #137
(Aurelio is on paternity leave until the end of January.)

[2022-11-16 18:37] weaverba137 commented on #137
@aureliocarnero, this is very good to hear! We have a documentation sprint going on and there are other people interested in this same goal. This is a great start.

[2022-11-16 18:48] weaverba137 commented on #137
Here is a [useful list of units](https://github.com/desihub/desitarget/blob/main/py/desitarget/data/units.yaml) used by desitarget that could be used as a starting point.

[2022-11-16 18:58] geordie666 commented on #137
With the caveat that some of those units don't conform to the FITS standard. See the [notes at the bottom of, e.g., this page](https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/TARG_DIR/DR/VERSION/targets/PHASE/RESOLVE/OBSCON/PHASEtargets-OBSCON-RESOLVE-hp-HP.html) which also contains a useful snippet of code for determining the FITS-compliant unit.

[2022-11-16 18:59] weaverba137 commented on #137
Yes, we did mention that to the people interested in this.